<div class="container">
  <h2>CRUD ANGULAR PHP Y MSQL</h2>
  <div class="col-md-10 mt-4">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <h2>Administración de artículos</h2>
          <table class="table table-hover" *ngIf="hayRegistros(); else sinarticulos">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Proveedor</th>
                <th>Fabricante</th>
                <th>Borrar</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let art of articulos">
                <td>{{art.codigo}}</td>
                <td>{{art.descripcion}}</td>
                <td>{{art.precio}}</td>
                <td>{{art.proveedor}}</td>
                <td>{{art.fabricante}}</td>
                <td><button (click) = "baja(art.codigo)" class="btn btn-danger">Borrar</button></td>
                <td><button (click) = "seleccionar(art.codigo)" class="btn btn-warning">Seleccionar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #sinarticulos>
          <p>No hay articulos.</p>
        </ng-template>
        <div>
          <div class="form-group">
            <input type="text" [(ngModel)]="art.descripcion" placeholder="descripcion" class="form-control" #descripcion="ngModel" (change)="validar(art.descripcion,'desc','')">
            <div class="alert alert-danger" [hidden]="art.descripcion != ''">Debe ingresar una descripcion</div>
            <div class="alert alert-danger" [hidden]="descripcionV == true || art.descripcion == ''">No puede ingresar solo numeros como descripcion</div>
          </div>
          <div class="form-group">
            <input type="number" [(ngModel)]="art.precio" placeholder="precio" class="form-control">
            <div class="alert alert-danger" [hidden]="art.precio != 0">Debe ingresar un precio mayor a 0</div>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="art.proveedor" placeholder="proveedor" class="form-control" (change)="validar(art.proveedor,'prov','')">
            <div class="alert alert-danger" [hidden]="art.proveedor != ''">Debe ingresar un proveedor</div>
            <div class="alert alert-danger" [hidden]="proveedorV == true || art.proveedor == ''">No puede ingresar solo numeros como proveedor</div>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="art.fabricante" placeholder="fabricante" class="form-control" (change)="validar(art.fabricante,'fab','')">
            <div class="alert alert-danger" [hidden]="art.fabricante != ''">Debe ingresar un fabricante</div>
            <div class="alert alert-danger" [hidden]="fabricanteV == true || art.fabricante == ''">No puede ingresar solo numeros como fabricante</div>
          </div>
          <button (click)="validar('','','alta')" *ngIf="art.codigo == 0" class="btn btn-primary btn-space">Agregar</button>
          <button (click)="validar('','','modificacion')" *ngIf="art.codigo !== 0" class="btn btn-warning">Modificar</button>
        </div>
      </div>
    </div>
  </div>
</div>